.container {
  margin: 0 auto;
  padding: 0 180px;
  max-width: 1728px;

  @media (max-width: 1606px) {
    padding: 0 160px;
  }

  @media (max-width: 1397px) {
    padding: 0 120px;
  }

  @media (max-width: 1109px) {
    padding: 0 100px;
  }

  @include vp-1023 {
    padding: 0 90px;
  }

  @media (max-width: 979px) {
    padding: 0 70px;
  }

  @include vp-767 {
    padding: 0 20px;
  }
}