.news-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;

    @include vp-767 {
        margin: 0 0 60px 0;
        align-items: center;
    }

    &--grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-items: stretch;
        margin: 40px 0 0 0;
        width: 100%;

        @media (max-width: 1268px) {
            display: flex;
            flex-direction: column;
        }

        @include vp-767 {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin: 30px 0 0 0;
        }
    }

    &__item {
        @include vp-767 {
            width: 100%;
        }
    }

    &__item:not(:first-child) .news-card {
        border-top: 1px solid $color-iron;
    }
}