.news-card {
    padding: 60px 0 60px 28px;
    display: flex;
    width: 100%;
    position: relative;
    cursor: pointer;

    @media (max-width: 1268px) {
        padding: 40px 18px;
    }

    @media (max-width: 874px) {
        padding: 20px 8px;
    }

    @include vp-767 {
        flex-direction: column;
        width: 100%;
        padding: 32px 2px 13px;
    }

    &:hover {
        background-color: $color-twilight-blue;
    }

    &:focus-visible {
        background-color: $color-twilight-blue;
    }

    &--grid {
        padding: 40px;

        @media (max-width: 1268px) {
            padding: 30px;
            align-items: center;
        }

        @include vp-767 {
            min-height: 200px;
            padding: 20px;
            max-width: 100%;
        }
    }

    &__inner {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        width: 100%;
        height: 100%;

        @include vp-1023 {
            align-items: center;
        }

        @include vp-767 {
            flex-direction: column;
        }
    }

    &__img-wrapper {
        margin: 0 100px 0 0;
        height: 100%;
        display: inline-block;
        position: relative;
        pointer-events: none;

        @media (max-width: 1919px) {
            margin: 0 120px 0 0;
        }

        @media (max-width: 1599px) {
            margin: 0 80px 0 0;
        }

        @media (max-width: 1228px) {
            margin: 0 40px 0 0;
        }

        @include vp-1023 {
            margin: 0 45px 0 10px;
        }

        @include vp-767 {
            margin: 0 0 10px 0;
            max-width: 100%;
        }
    }

    &__img-wrapper::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    }

    &--grid &__img-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    &--grid:hover &__img-wrapper::after {
        background: rgba(0, 0, 0, 0.5);
    }

    &--grid:focus-visible &__img-wrapper::after {
        background: rgba(0, 0, 0, 0.5);
    }

    &__img--list {
        min-height: 180px;
        height: 100%;
    }

    &__img--grid {
        display: none;
    }

    &--grid &__img--list {
        display: none;
    }

    &--grid &__img--grid {
        display: block;
        height: 100%;
        width: 100%;

        @include vp-767 {
            min-height: 100%;
        }
    }

    &__img {
        @include vp-767 {
          width: 100%;
          max-height: 185px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0 72px 0 0;

        @media (max-width: 1599px) {
            gap: 15px;
            margin: 0 42px 0 0;
        }

        @media (max-width: 1228px) {
            margin: 0 22px 0 0;
        }

        @include vp-1023 {
            margin: 0;
            gap: 9px;
        }

        @media (max-width: 874px) {
            gap: 10px;
        }

        @include vp-767 {
            max-width: 100%;
            margin: 0 0 15px 0;
        }
    }

    &--grid &__content {
        position: relative;
        gap: 10px;
        margin: 0;
        min-height: 280px;

        @media (max-width: 1439px) {
            width: 100%;
        }

        @include vp-767 {
            min-height: 160px;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-grow: 1;

        @include vp-1023 {
            position: relative;
        }

        @include vp-767 {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }

    &--grid &__column {
        @include vp-767 {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__title {
        font-weight: 200;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.02em;
        color: $color-blue-charcoa;
        text-transform: uppercase;
        margin: 0;
        max-width: 400px;

        @media (max-width: 1228px) {
            font-size: 20px;
            line-height: 24px;
        }

        @media (max-width: 1109px) {
            font-size: 18px;
            line-height: 22px;
        }

        @include vp-1023 {
            margin: 0 0 15px 0;
        }

        @include vp-767 {
            font-size: 20px;
            line-height: 24px;
            margin: 0;
            order: 2;
            max-width: 100%;
        }
    }

    &--grid &__title {
        font-weight: 300;
        letter-spacing: 0.02em;
        color: $color-white;
        max-width: 594px;
        order: 2;

        @media (max-width: 1439px) {
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            margin: 0 auto;
        }

        @include vp-1023 {
            font-size: 20px;
            line-height: 24px;
        }

        @include vp-767 {
            font-size: 16px;
            line-height: 20px;
            margin: 0;
            text-align: left;
            margin: 0;
        }

        @media (max-width: 367px) {
            font-size: 12px;
            line-height: 16px;
        }
    }

    &__date {
        font-size: 14px;
        line-height: 20px;
        color: $color-mischka;

        @include vp-767 {
            display: flex;
            font-size: 12px;
            line-height: 16px;
        }
    }

    &--grid &__date {
        color: $color-white;
        order: 1;
        margin: auto 0 0 0;

        @media (max-width: 1439px) {
            font-size: 18px;
            line-height: 24px;
        }

        @media (max-width: 1109px) {
            font-size: 16px;
            line-height: 22px;
        }

        @include vp-1023 {
            font-size: 14px;
            line-height: 20px;
        }

        @include vp-767 {
            font-size: 12px;
            line-height: 16px;
            margin: 0;
        }
    }

    &__tag {
        font-size: 14px;
        line-height: 20px;
        color: $color-blue-charcoa;
        text-align: center;
        display: block;
        width: 124px;

        @include vp-767 {
            font-size: 12px;
            line-height: 16px;
            width: 111px;
        }
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__text {
        font-size: 18px;
        line-height: 26px;
        max-width: 400px;
        margin: 0;

        @media (max-width: 1499px) {
            font-size: 14px;
            line-height: 22px;
        }

        @media (max-width: 1109px) {
            font-size: 12px;
            line-height: 20px;
            max-width: 300px;
        }

        @include vp-1023 {
            display: none;
        }

        @include vp-767 {
            display: flex;
            font-size: 12px;
            line-height: 16px;
            max-width: 100%;
        }
    }

    &--grid &__text {
        display: none;
    }

    &__text-list {
        font-size: 18px;
        line-height: 26px;
        padding: 0 0 0 20px;
        margin: 0;
        width: 400px;
        list-style-type: disc;

        @media (max-width: 1499px) {
            font-size: 14px;
            line-height: 22px;
        }

        @media (max-width: 1109px) {
            font-size: 12px;
            line-height: 20px;
            width: 300px;
        }

        @include vp-1023 {
            display: none;
        }

        @include vp-767 {
            display: flex;
            flex-direction: column;
            font-size: 12px;
            line-height: 16px;
            padding: 0 0 0 -5px;
        }
    }

    &--grid &__text-list {
        display: none;
    }

    &__text-list-item::marker {
        background-color: $color-black;
    }
}